.block-core.block-local-tasks-block a,
.block-core.block-local-tasks-block a:hover,
.layout-builder-form #edit-actions input,
.layout-builder-form #edit-actions input:hover {
color: #fff!important;
    text-transform: uppercase;
    width: auto!important;
    background: none!important;
    margin: 0!important;
    padding: 0 15px!important;
    font-size: 13px!important;
    font-weight: bold!important;
    display: inline-block!important;
    height: auto!important;
    border-radius: 0!important;
    letter-spacing: 0!important;
    text-shadow: none!important;
margin: 0!important;
}
.layout-builder-form #edit-actions,
.layout-builder-form #edit-actions input {
text-align: right;
float: right;
}
.block-core.block-local-tasks-block,
.layout-builder-form #edit-actions {    position: fixed;
    z-index: 9999;
    background: #222;
    color: #fff;
width: auto;
    max-width: 700px;
    border-radius: 4px;
    box-shadow: 0 8px 17px rgba(0,0,0,.3);
    top: 10px;
    left: 10px;
    opacity: .2;
    padding: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
transition: all ease .2s;
}
.layout-builder-form #edit-actions {right: 10px;left:auto;}
.block-core.block-local-tasks-block .contextual {
right: -40px;
}
.block-core.block-local-tasks-block:hover,
.layout-builder-form #edit-actions:hover {
opacity: .8;
}
.block-core.block-local-tasks-block:hover ul.tabs > li a,
.layout-builder-form #edit-actions:hover input {
opacity: .2;
}
.block-core.block-local-tasks-block:hover ul.tabs > li a:hover,
.layout-builder-form #edit-actions:hover input:hover {
opacity: .8;
}
.block-core.block-local-tasks-block ul.tabs {
margin: 0;
padding: 0;
    z-index: 9999;
    position: relative;

}
.block-core.block-local-tasks-block ul.tabs > li {
margin: 0;
width: auto;
}
.block-core.block-local-tasks-block ul.tabs > li a {
display: inline;
background-color:transparent!important;
}

.layout-builder-form #edit-preview-toggle {
    display: block;
    width: auto;
    float: none;
padding-right:  12px;
}
.layout-builder-form #edit-preview-toggle label {
font-weight: bold;
    padding-right: 10px;
}
#drupal-off-canvas {float: none;width: auto;}
#drupal-off-canvas * {float: none;}